# vim
*.swp
*.swo

# IntelliJ
.idea/
*.ipr
*.iml
*.iws

# Build
vendor/
/build/
dist/

# Data
/data/002-spot-pricing
/data/003-graphs

# OS
.DS_Store

# Temporary
run/pids/
run/logs/
*.log
.tmp
.rakeTasks
